@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-red-primary: hsl(var(--red-primary));
  --color-red-secondary: hsl(var(--red-secondary));
  --color-orange-primary: hsl(var(--orange-primary));
  --color-orange-secondary: hsl(var(--orange-secondary));
  --color-yellow-primary: hsl(var(--yellow-primary));
  --color-yellow-secondary: hsl(var(--yellow-secondary));
  --color-green-primary: hsl(var(--green-primary));
  --color-green-secondary: hsl(var(--green-secondary));
  --color-cyan-primary: hsl(var(--cyan-primary));
  --color-cyan-secondary: hsl(var(--cyan-secondary));
  --color-blue-primary: hsl(var(--blue-primary));
  --color-blue-secondary: hsl(var(--blue-secondary));
  --color-purple-primary: hsl(var(--purple-primary));
  --color-purple-secondary: hsl(var(--purple-secondary));
  --color-magenta-primary: hsl(var(--magenta-primary));
  --color-magenta-secondary: hsl(var(--magenta-secondary));
}

:root {
  --radius: 0.5rem;
  --background: hsl(48 100% 97%);
  --foreground: hsl(0 3% 6%);
  --card: hsl(48 100% 97%);
  --card-foreground: hsl(0 3% 6%);
  --popover: hsl(48 100% 97%);
  --popover-foreground: hsl(0 3% 6%);
  --primary: hsl(0 3% 6%);
  --primary-foreground: hsl(48 100% 97%);
  --secondary: hsl(51 33% 92%);
  --secondary-foreground: hsl(0 3% 6%);
  --muted: hsl(51 33% 92%);
  --muted-foreground: hsl(50 3% 42%);
  --accent: hsl(51 33% 92%);
  --accent-foreground: hsl(0 3% 6%);
  --destructive: hsl(3 62% 42%);
  --destructive-foreground: hsl(48 100% 97%);
  --border: hsl(51 21% 88%);
  --input: hsl(51 21% 88%);
  --ring: hsl(55 10% 79%);
  --chart-1: hsl(3 62% 42%);
  --chart-2: hsl(22 80% 41%);
  --chart-3: hsl(73 84% 27%);
  --chart-4: hsl(212 68% 39%);
  --chart-5: hsl(259 42% 43%);
  --sidebar: hsl(48 100% 97%);
  --sidebar-foreground: hsl(0 3% 6%);
  --sidebar-primary: hsl(0 3% 6%);
  --sidebar-primary-foreground: hsl(48 100% 97%);
  --sidebar-accent: hsl(51 33% 92%);
  --sidebar-accent-foreground: hsl(0 3% 6%);
  --sidebar-border: hsl(51 21% 88%);
  --sidebar-ring: hsl(55 10% 79%);

  --red-primary: 3 62% 42%;
  --red-secondary: 5 61% 54%;
  --orange-primary: 22 80% 41%;
  --orange-secondary: 23 70% 51%;
  --yellow-primary: 45 99% 34%;
  --yellow-secondary: 45 82% 45%;
  --green-primary: 73 84% 27%;
  --green-secondary: 72 46% 41%;
  --cyan-primary: 175 57% 33%;
  --cyan-secondary: 175 49% 45%;
  --blue-primary: 212 68% 39%;
  --blue-secondary: 208 49% 50%;
  --purple-primary: 259 42% 43%;
  --purple-secondary: 251 40% 64%;
  --magenta-primary: 326 55% 41%;
  --magenta-secondary: 329 54% 59%;
}

.dark {
  --background: hsl(0 3% 6%);
  --foreground: hsl(55 10% 79%);
  --card: hsl(0 3% 6%);
  --card-foreground: hsl(55 10% 79%);
  --popover: hsl(0 3% 6%);
  --popover-foreground: hsl(55 10% 79%);
  --primary: hsl(55 10% 79%);
  --primary-foreground: hsl(0 3% 6%);
  --secondary: hsl(30 4% 11%);
  --secondary-foreground: hsl(55 10% 79%);
  --muted: hsl(30 4% 11%);
  --muted-foreground: hsl(43 3% 52%);
  --accent: hsl(30 4% 11%);
  --accent-foreground: hsl(55 10% 79%);
  --destructive: hsl(5 61% 54%);
  --destructive-foreground: hsl(0 3% 6%);
  --border: hsl(30 3% 15%);
  --input: hsl(30 3% 15%);
  --ring: hsl(30 3% 24%);
  --chart-1: hsl(5 61% 54%);
  --chart-2: hsl(23 70% 51%);
  --chart-3: hsl(72 46% 41%);
  --chart-4: hsl(208 49% 50%);
  --chart-5: hsl(251 40% 64%);
  --sidebar: hsl(0 3% 6%);
  --sidebar-foreground: hsl(55 10% 79%);
  --sidebar-primary: hsl(55 10% 79%);
  --sidebar-primary-foreground: hsl(0 3% 6%);
  --sidebar-accent: hsl(30 4% 11%);
  --sidebar-accent-foreground: hsl(55 10% 79%);
  --sidebar-border: hsl(30 3% 15%);
  --sidebar-ring: hsl(30 3% 24%);

  --red-primary: 5 61% 54%;
  --red-secondary: 3 62% 42%;
  --orange-primary: 23 70% 51%;
  --orange-secondary: 22 80% 41%;
  --yellow-primary: 45 82% 45%;
  --yellow-secondary: 45 99% 34%;
  --green-primary: 72 46% 41%;
  --green-secondary: 73 84% 27%;
  --cyan-primary: 175 49% 45%;
  --cyan-secondary: 175 57% 33%;
  --blue-primary: 208 49% 50%;
  --blue-secondary: 212 68% 39%;
  --purple-primary: 251 40% 64%;
  --purple-secondary: 259 42% 43%;
  --magenta-primary: 329 54% 59%;
  --magenta-secondary: 326 55% 41%;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
